@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;

  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: -0.03em;

  transition:
    padding 0.3s ease,
    background-color 0.3s ease;
  z-index: 100;

  &__main {
    position: relative;
  }
  &__inside {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    transition:
      bacdrop-filter 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      margin 0.3s ease;

    @include laptop-min {
      border-radius: 16px;
    }

    &._active {
      margin-top: 14px;
      margin-bottom: 14px;
      backdrop-filter: blur(30px);
      box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.07);
      background: rgba(242, 242, 242, 0.9);
      @include laptop-min {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .logo-dark {
        display: block;
      }
      .logo-primary {
        display: none;
      }
      .header__social-btn {
        color: var(--dark-5);

        img {
          filter: brightness(0%);
          opacity: 0.5;
        }
      }
      .header__address {
        max-height: 0px;
      }
    }
  }
  &__inside-wrap {
    padding: 20px 0px;

    @include laptop-min {
      padding: 10px 0px;
    }
    @include tablet-min {
      padding: 8px 0px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

    @include desktop {
      gap: 30px;
    }
    @include tablet {
      gap: 20px;
    }
  }
  &__logo-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__logo {
    display: block;
    width: 220px;

    @include desktop {
      width: 200px;
    }
    @include laptop-middle {
      width: 165px;
    }
    @include tablet {
      width: 150px;
    }

    img {
      display: block;
      width: 100%;
    }

    .logo-dark {
      display: none;
    }
  }
  &__logo-descr {
    max-width: 160px;
    color: var(--dark-4);
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.03em;
    transform: translateY(5px);

    @media (max-width: 1199px) and (min-width: 992px) {
      display: none;
    }
    @include tablet {
      font-size: 11px;
      max-width: 135px;
    }
    @include tablet-min {
      display: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 25px;

    @include desktop {
      gap: 20px;
    }
    @include laptop-min {
      position: absolute;
      left: -9999px;
      z-index: -9999;
    }
  }
  &__services-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 10px;
    user-select: none;

    transition:
      color 0.3s ease,
      border-color 0.3s ease,
      background-color 0.3s ease;

    @include hover {
      color: white;
      background-color: var(--dark);
      border-color: var(--dark);
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    @include desktop {
      gap: 20px;
    }
    @include tablet-min {
      gap: 12px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__social-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    @include desktop {
      &._mail,
      &._max {
        display: none;
      }
    }
    @include hover {
      color: var(--primary) !important;
      img {
        filter: brightness(100%) !important;
        opacity: 1 !important;
      }
    }

    svg {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
    }
    img {
      display: block;
      width: 18px;
      flex-shrink: 0;

      transition:
        filter 0.3s ease,
        opacity 0.3s ease;
    }
  }
  &__contacts-main {
  }
  &__tel {
    font-weight: 800;
    display: block;
    width: fit-content;
    @include tablet-min {
      display: none;
    }
  }
  &__address {
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    max-height: 24px;
    overflow: hidden;
    height: 100%;
    transform: translateY(-4px);

    transition: max-height 0.3s ease;

    @include laptop-min {
      display: none;
    }
  }
  &__btn {
    font-size: 13px !important;
    @include tablet-middle {
      display: none;
    }
  }
  &__tel-mob {
    display: block;
    width: 24px;
    height: 24px;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    @media (min-width: 576px) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__burger-btn {
    width: 24px;
    height: 24px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @media (min-width: 992px) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__drop {
    margin-top: 25px;
  }
  &__drop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  &__drop-item {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

    .item-img {
      display: block;
      width: 235px;
    }
    .item-body {
      margin-top: 20px;
      padding: 0px 20px 30px 20px;
      @include desktop {
        padding: 0 10px;
      }
      @include laptop-middle {
        padding: 0;
      }
    }
    .item-title {
      width: fit-content;
      font-weight: 500;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: -0.02em;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
      @include desktop {
        font-size: 24px;
      }
      @include laptop-middle {
        font-size: 18px;
      }
    }
    .item-content {
      font-size: 22px;
      line-height: 140%;
      margin: 10px 0px 0px 0px;
      color: var(--dark-4);
      @include desktop {
        font-size: 18px;
      }
      @include laptop-middle {
        font-size: 15px;
      }
    }
  }
}

.header-drop-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--dark-3);
  z-index: 90;
  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  &._active {
    opacity: 1;
    visibility: visible;
  }
}
