@use "../base/templates" as *;
@use "../base/media" as *;

.s-connect {
  &__wrap {
    color: white;

    @include tablet-min {
      padding-top: 120px;
    }
  }
  &__info {
    max-width: 1065px;
  }
  &__title {
  }
  &__descr {
    margin: 20px 0px 0px 0px;

    @include tablet {
      margin-top: 5px;
    }
  }
  &__form {
    margin-top: 35px;
    max-width: 725px;

    @include tablet {
      margin-top: 20px;
      max-width: 590px;
    }

    .form-wrap {
      display: flex;
      gap: 8px;

      @include tablet-min {
        flex-direction: column;
      }

      .input-control {
        flex: 1;
        @include tablet-min {
          flex: auto;
          width: 100%;
        }
      }
      .btn-s {
        width: 210px;
        flex-shrink: 0;
        @include tablet {
          width: 170px;
        }
      }
    }
    .check-wrap {
      margin-top: 30px;
      @include tablet {
        margin-top: 20px;
      }
    }
  }
  &__gallery {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 735px;
    z-index: -1;

    @include laptop-middle {
      width: 520px;
    }
    @include laptop-min {
      display: none;
    }
    @include tablet-min {
      width: 100%;
      display: block;
      left: 0;
      top: -80px;
      bottom: auto;
    }

    picture {
      display: block;
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
