@use '../base/templates' as *;
@use '../base/media' as *;
.s-content {
  @include flex-between;
  gap: 30px;
  &__wrapper {
    @include flex-between;
    max-width: 1675px;
    gap: 30px;

    @include desktop {
      align-items: start;
    }
    @include tablet-middle {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 0 1 860px;
    @include tablet-middle {
      flex: auto;
      width: 100%;
    }
  }
  &__title {
  }
  &__content {
    margin-top: 24px;
  }
  &__img {
    display: block;
    width: 735px;
    flex-shrink: 0;

    @include desktop {
      width: 680px;
    }
    @include laptop {
      width: 500px;
    }
    @include laptop-middle {
      width: 300px;
    }
    @include tablet {
      width: 265px;
    }
    @include tablet-middle {
      width: 450px;
      margin: 0 auto;
    }
  }
}