@use "../base/templates" as *;
@use "../base/media" as *;
.s-data {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 60px 40px;
    min-height: 595px;
    z-index: 1;

    @include laptop {
      min-height: auto;
    }

    &._data {
      display: flex;
      flex-direction: column;
      color: white;
      @include laptop {
        grid-column: 2 span;
      }
    }
    &._control {
      display: flex;
      align-items: flex-end;
      color: white;
    }

    .item-title {
      font-weight: 500;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: -0.03em;
      margin: 0;

      @include desktop {
        font-size: 44px;
      }
      @include tablet {
        font-size: 25px;
      }
    }
    .item-img-data {
      position: absolute;
      top: -140px;
      right: -290px;
      z-index: -1;

      @include laptop {
        top: -90px;
        right: -55px;
      }
    }
    .item-img {
      display: block;
      max-width: none;

      img {
        max-width: none;
      }
    }
    .item-list {
      padding-top: 20px;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: flex;
        align-items: start;
        gap: 16px;

        font-size: 22px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.7);

        @include desktop {
          font-size: 20px;
        }
        @include tablet {
          font-size: 15px;
        }

        &::before {
          content: "";
          flex-shrink: 0;
          width: 7px;
          height: 7px;
          box-shadow:
            inset 0 6px 15px 0 rgba(255, 255, 255, 0.15),
            inset 0 3px 4px 0 rgba(255, 255, 255, 0.15),
            0 0 10px 0 rgba(255, 133, 0, 0.7);
          background-color: var(--primary);
          margin-top: 8px;
        }
      }
    }
    .item-img-control {
      position: absolute;
      left: -60px;
      top: -175px;
      z-index: -1;

      .inside {
        position: relative;
        z-index: 1;

        &::before {
          position: absolute;
          content: "";
          inset: 0;
          filter: blur(5px);
          background: linear-gradient(
            163deg,
            rgba(255, 126, 18, 0.6) 0%,
            #ff7e12 100%
          );
        }
      }
    }
    .item-text-control {
      margin: 20px 0px 0px 0px;
      color: rgba(255, 255, 255, 0.6);

      font-size: 22px;
      line-height: 150%;

      span {
        color: white;
      }

      @include desktop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 20px;
      }
    }
    .item-img-cert {
      position: absolute;
      left: 40px;
      bottom: -240px;
    }
    .item-text-cert {
      font-size: 27px;
      line-height: 150%;
      color: var(--dark-5);
      margin: 15px 0px 0px 0px;

      @include desktop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 15px;
      }

      span {
        color: var(--dark);
      }
    }
  }
}
