@use "../base/templates" as *;
@use "../base/media" as *;

.s-production {
  &__content {
    max-width: 1390px;
    margin-top: 20px;
    @include tablet {
      margin-top: 10px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      gap: 10px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }
  &__item {
    padding: 10px 10px 30px 10px;
    background-color: white;
    border-radius: var(--radius-m);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    @include tablet {
      padding: 15px 20px 20px 20px;
    }
    @include tablet-min {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 15px;
    }
    @include hover {
      background-color: var(--primary);
      color: white;
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.08);

      .item-content {
        color: white;
      }
    }

    .item-img {
      display: block;
      width: 235px;
      flex-shrink: 0;
      @include laptop-min {
        width: 180px;
      }
      @include tablet {
        width: 130px;
      }
      @include tablet-min {
        width: 65px;
      }
    }
    .item-body {
      padding: 0px 14px;
      margin-top: 20px;
      @include tablet {
        padding: 0;
      }
      @include tablet-min {
        margin-top: 0;
      }
    }
    .item-title {
    }
    .item-content {
      margin: 10px 0px 0px 0px;
      color: var(--dark-4);
      transition: color 0.3s ease;
    }
  }
}
