@use "../base/templates" as *;
@use "../base/media" as *;

.s-services {
  &__body {
    padding-top: 30px !important;
    padding-bottom: 30px !important;

    @include laptop {
      padding: 0 !important;
      background-color: transparent;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    position: relative;
    z-index: 1;

    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    @include hover {
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    @include laptop {
      padding: 30px;
      border-radius: 20px;
      background-color: var(--dark-03);

      @include hover {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.08);
        background-color: white;
      }
    }
    @include tablet {
      padding: 15px 20px;
      border-radius: 12px;
    }
    @include tablet-min {
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 120px -25px -25px -25px;
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.08);
      background-color: white;
      border-radius: 15px;
      border: 1px solid var(--dark-2);
      transform: scale(0.8);
      opacity: 0;
      z-index: -1;

      transition:
        transform 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
      @include laptop {
        display: none;
      }
    }
    .item-img {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
      object-position: center;

      @include laptop {
        width: 400px;
      }
      @include tablet {
        width: 140px;
      }
      @include tablet-min {
        width: 80px;
        flex-shrink: 0;
      }
    }
    .item-body {
      margin-top: 20px;
      @include tablet-min {
        margin-top: 0;
      }
    }
    .item-title {
    }
    .item-content {
      font-size: 22px;
      line-height: 140%;
      margin-top: 10px;
      color: var(--dark-6);
      @include laptop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 17px;
        margin-top: 8px;
      }
      @include tablet-min {
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}
