@use "../base/templates" as *;
@use "../base/media" as *;

.s-stages-work {
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      gap: 10px;
      row-gap: 20px;
    }
    @include tablet-middle {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    .item-num {
      position: relative;
      width: fit-content;
      font-weight: 600;
      font-size: 60px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: var(--primary);

      @include laptop-middle {
        font-size: 55px;
      }

      @include tablet {
        font-size: 50px;
      }

      &::before {
        position: absolute;
        content: "";
        background-color: var(--primary);
        width: 25px;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(25px);
        z-index: -1;
      }
    }
    .item-text {
      margin-top: 15px;
      font-weight: 500;
      font-size: 22px;
      line-height: 130%;
      color: var(--dark-6);

      @include laptop-middle {
        font-size: 20px;
      }
      @include laptop-min {
        font-size: 17px;
        margin-top: 0;
      }
      @include tablet-min {
        font-size: 19px;
      }

      span {
        color: var(--dark);
      }
    }
  }
}
