<section class="s-adv sect-m">
  <div class="g-wrap bg-dark-03">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Наши преимущества</h2>
        <p class="text-b s-adv__content">
          Уже на протяжении десяти лет наша компания активно развивается,
          собирает опытных специалистов в единую команду и применяет современные
          решения и технологии
        </p>
      </div>
      <div class="s-adv__grid-simple">
        <div class="s-adv__item-simple">
          <div class="icon-wrap">
            <img src="@img/about-adv.svg" alt="icon" />
          </div>
          <div class="item-text text-b">
            <span>Проектирование и изготовление</span>
            <br />
            пресс форм для литья под давлением
          </div>
        </div>
        <div class="s-adv__item-simple">
          <div class="icon-wrap">
            <img src="@img/about-adv.svg" alt="icon" />
          </div>
          <div class="item-text text-b">
            <span>Согласование конструкции:</span>
            <br />
            разъём, литниковая система, выталкивание
          </div>
        </div>
        <div class="s-adv__item-simple">
          <div class="icon-wrap">
            <img src="@img/about-adv-2.svg" alt="icon" />
          </div>
          <div class="item-text text-b">
            <span>Отладка формы на производстве</span>
            <br />
            и выпуск образцов
          </div>
        </div>
        <div class="s-adv__item-simple">
          <div class="icon-wrap">
            <img src="@img/about-adv.svg" alt="icon" />
          </div>
          <div class="item-text text-b">
            <span>Изготовление и сборка деталей,</span>
            контроль геометрии
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
