<section class="s-products sect-m">
  <div class="g-wrap s-products__wrap">
    <div class="container">
      <div class="sect-head s-products__head">
        <div class="sect-head__wrap">
          <h2 class="s-title">Другие продукты серии</h2>
          <div class="slider-nav">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div data-start-preview="5" class="swiper s-products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-product">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <div class="card-product__title">Бутылка круглая</div>
                <div class="card-product__content">ПЭТ 150 мл</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
