@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TikTokSans;
  font-display: swap;
  src: url("../files/fonts/TikTokSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}