@use "../base/templates" as *;
@use "../base/media" as *;

.btn-b {
  --background: var(--dark);
  --color: white;
  --shadow:
    inset 0 6px 10px 0 rgba(255, 255, 255, 0.13),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15),
    0 15px 25px 0 rgba(0, 0, 0, 0.2);
  --shadow-p:
    inset 0 6px 10px 0 rgba(255, 255, 255, 0.13),
    0 3px 3px 0 rgba(0, 0, 0, 0.15), 0 15px 25px 0 rgba(0, 0, 0, 0.2);

  @include flex-center;
  width: fit-content;
  border: none;
  outline: none;
  user-select: none;
  background-color: var(--background);
  padding: 7px 15px;
  border-radius: 10px;
  box-shadow: var(--shadow);

  font-weight: 600;
  text-align: center;
  color: var(--color);
  font-size: 18px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    color 0.3s ease !important;

  @include pressed {
    transform: translateY(-2px);
    box-shadow: var(--shadow-p);
  }

  @include tablet {
    font-size: 15px;
    padding: 6px 10px;
  }
}

.btn-m {
  --background: transparent;
  --border: var(--dark-2);
  --color: var(--dark);
  --background-h: var(--dark);
  --border-h: var(--dark);
  --color-h: white;

  @include flex-center;
  cursor: pointer;
  width: fit-content;
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 11px 18px;

  color: var(--color);
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  user-select: none;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include tablet {
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 10px;
  }
  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }

  &._active {
    pointer-events: none;
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }
}

.btn-s {
  --background: var(--primary);
  --border: white;
  --color: white;
  --background-h: var(--primary);
  --border-h: white;
  --color-h: white;
  --shadow:
    inset 0 6px 15px 0 rgba(255, 255, 255, 0.15),
    inset 0 3px 4px 0 rgba(255, 255, 255, 0.15),
    inset 0 -17px 25px 0 rgba(255, 0, 0, 0.2), inset 0 -4px 4px 0 #f98100,
    0 14px 44px 0 rgba(255, 133, 0, 0.35);

  @include flex-center;
  padding: 20px 28px;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  gap: 5px;
  box-shadow: var(--shadow);
  width: fit-content;

  user-select: none;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--color);

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color);
  }

  .arrow {
    width: 14px;
    height: 14px;
  }

  &._outline-white {
    --border: var(--white-1);
    --background: transparent;
    --color: white;
    --border-h: white;
    --background-h: transparent;
    --color-h: white;

    box-shadow: none;
  }

  @include tablet {
    font-size: 15px;
    padding: 13px 20px;
  }
}
