@use "../base/templates" as *;
@use "../base/media" as *;

.b-title {
  font-weight: 600;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin: 0;

  @include desktop {
    font-size: 80px;
  }
  @include laptop {
    font-size: 60px;
  }
  @include laptop-min {
    font-size: 50px;
  }
  @include tablet {
    font-size: 40px;
    line-height: 110%;
  }
  @include tablet-min {
    font-size: 35px;
    line-height: 100%;
  }
}
.s-title {
  font-weight: 500;
  font-size: 67px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin: 0;

  @include desktop {
    font-size: 58px;
  }
  @include laptop {
    font-size: 44px;
  }
  @include tablet {
    font-size: 30px;
  }

  span {
    background: linear-gradient(to bottom, transparent 12%, var(--dark) 12%);
    padding: 0 5px;
    color: white;
  }
}
.l-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin: 0;

  @include laptop {
    font-size: 26px;
  }
  @include tablet {
    font-size: 20px;
    line-height: 100%;
  }
  @include tablet-min {
    font-size: 19px;
  }
}
