<aside class="burger" id="burger">
  <div class="burger__services">
    <a href="#" class="burger__service-item">
      <img src="@img/header-drop.png" alt="image" />
      <div class="item-name">Пресс-формы</div>
    </a>
    <a href="#" class="burger__service-item">
      <img src="@img/header-drop.png" alt="image" />
      <div class="item-name">Литьё на ТПА</div>
    </a>
    <a href="#" class="burger__service-item">
      <img src="@img/header-drop.png" alt="image" />
      <div class="item-name">
        Формы
        <br />
        для выдува
      </div>
    </a>
    <a href="#" class="burger__service-item">
      <img src="@img/header-drop.png" alt="image" />
      <div class="item-name">Выдув на экструдере</div>
    </a>
  </div>
  <ul class="list burger__list">
    <li><a href="#">О компании</a></li>
    <li><a href="#">Продукция</a></li>
    <li><a href="#">Контакты</a></li>
    <li class="social">
      <a href="tel:+74957870000">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-tel"></use>
        </svg>
        <span>+7 (495) 787 00 00</span>
      </a>
    </li>
    <li class="social">
      <a href="mailto:info@cncgroup.ru">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-mail"></use>
        </svg>
        <span>info@cncgroup.ru</span>
      </a>
    </li>
    <li class="social">
      <a href="#" target="_blank" rel="nofollow">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-max"></use>
        </svg>
        <span>MAX</span>
      </a>
    </li>
  </ul>
</aside>
