<header class="header _scroll">
  <div class="header__main">
    <div class="g-wrap header__inside">
      <div class="container">
        <div class="header__inside-wrap">
          <div class="header__wrapper">
            <div class="header__logo-wrap">
              <a href="/" class="header__logo">
                <img src="@img/logo.svg" alt="image" class="logo-primary" />
                <img src="@img/logo-dark.svg" alt="image" class="logo-dark" />
              </a>
              <div class="header__logo-descr">
                Производство пресс-форм с доставкой по РФ
              </div>
            </div>
            <nav class="header__nav">
              <div data-header-drop-btn="services" class="header__services-btn">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-burger"></use>
                </svg>
                <span>Услуги</span>
              </div>
              <ul class="list header__list">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="header__contacts">
              <a href="mailto:info@cncgroup.ru" class="header__social-btn _mail">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mail"></use>
                </svg>
                <span>info@cncgroup.ru</span>
              </a>
              <a
                href="#"
                rel="nofollow"
                target="_blank"
                class="header__social-btn _max"
              >
                <img src="@img/max.svg" alt="icon" />
                <span>MAX</span>
              </a>
              <div class="header__contacts-main">
                <a href="tel:+74957870000" class="header__tel">
                  +7 (495) 787 00 00
                </a>
                <div class="header__address">Пн–пт с 9 до 18</div>
              </div>
              <a href="#modal-feedback" data-fancybox class="btn-b header__btn">
                Заказать звонок
              </a>
              <a href="tel:+74957870000" class="header__tel-mob">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-connect"></use>
                </svg>
              </a>
              <div class="header__burger-btn" id="burger-toggle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-burger"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="header__drop" hidden data-header-drop="services">
            <div class="header__drop-grid">
              <a href="#" class="header__drop-item">
                <img src="@img/header-drop.png" alt="logo" class="item-img" />
                <div class="item-body">
                  <div class="item-title">Пресс-формы</div>
                  <p class="item-content">
                    Проектирование и изготовление оснастки под литьё и выдув
                  </p>
                </div>
              </a>
              <a href="#" class="header__drop-item">
                <img src="@img/header-drop.png" alt="logo" class="item-img" />
                <div class="item-body">
                  <div class="item-title">Литьё на ТПА</div>
                  <p class="item-content">
                    Серийное литьё пластмасс: режимы, качество, упаковка
                  </p>
                </div>
              </a>
              <a href="#" class="header__drop-item">
                <img src="@img/header-drop.png" alt="logo" class="item-img" />
                <div class="item-body">
                  <div class="item-title">Формы для выдува</div>
                  <p class="item-content">
                    Оснастка для экструзионного выдува: ресурс, стабильность
                  </p>
                </div>
              </a>
              <a href="#" class="header__drop-item">
                <img src="@img/header-drop.png" alt="logo" class="item-img" />
                <div class="item-body">
                  <div class="item-title">Выдув на экструдере</div>
                  <p class="item-content">
                    Экструзионно выдувное формование изделий и тары
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<aside class="header-drop-backdrop"></aside>
