<aside>
  <div class="modal" id="modal-feedback">
    <div data-fancybox-close class="modal__close">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-close'></use>
      </svg>
    </div>
    <div class="modal__body">
      <div class="modal__head">
        <div class="modal__title">Заказать звонок</div>
        <p class="modal__content">Оставьте контакты — менеджер перезвонит, чтобы ответить на ваши вопросы</p>
      </div>
      <form action="#" class="modal__form">
        <div class="form-control">
          <input type="text" placeholder="Ваше имя" required class="input">
        </div>
        <div class="form-control">
          <input type="tel" placeholder="Телефон" required class="input">
        </div>
        <button type="submit" class="btn-s">Оставить заявку</button>
        <div class="check-wrap">
            <input type="checkbox" id="modal-feedback-policy">
            <label for="modal-feedback-policy">
              <span>
                Я даю согласие ООО «СНСГРУПП» на обработку моих персональных данных в целях обработки обращения, обратного звонка и предоставления консультации в соответствии с <a href="#" target="_blank">Политикой обработки персональных данных</a>.
              </span>
            </label>
        </div>
      </form>
    </div>
  </div>
</aside>