<section class="sect-m s-about">
  <div class="g-wrap">
    <div class="container">
      <div class="s-about__wrapper">
        <div class="s-about__info">
          <h2 class="s-title s-about__title">
            <span>Свое производство</span>, инженерия и ответственность за результат
          </h2>
          <div class="content-box s-about__content">
            <p>
              СНСГРУПП — производственная команда полного цикла: проектирование
              и изготовление пресс-форм, литьё пластмасс на ТПА и
              экструзионно-выдувное формование. Мы берём задачу «под ключ».
            </p>
            <p>
              Мы ценим точность, сроки и прозрачность. Перед запуском в серию
              проводим отработку технологии, подбираем материал и режимы.
            </p>
          </div>
          <div class="s-about__steps">
            <div class="item-step">
              <div class="item-num">01</div>
              <div class="item-text">Тезис о том почему нужно выбрать именно вас</div>
            </div>
            <div class="item-step">
              <div class="item-num">02</div>
              <div class="item-text">Тезис о том почему нужно выбрать именно вас</div>
            </div>
            <div class="item-step">
              <div class="item-num">03</div>
              <div class="item-text">Тезис о том почему нужно выбрать именно вас</div>
            </div>
          </div>
          <a href="#" class="btn-s s-about__btn">Узнать больше</a>
        </div>
        <div data-da=".s-about__info,768,2" class="s-about__gallery">
          <div class="swiper s-about__slider">
            <div class="swiper-wrapper">
              <a href="@img/about-gallery.jpg" data-fancybox="about-gallery" class="swiper-slide s-about__slide">
                <img src="@img/about-gallery.jpg" alt="image">
              </a>
              <a href="@img/about-gallery.jpg" data-fancybox="about-gallery" class="swiper-slide s-about__slide">
                <img src="@img/about-gallery.jpg" alt="image">
              </a>
              <a href="@img/about-gallery.jpg" data-fancybox="about-gallery" class="swiper-slide s-about__slide">
                <img src="@img/about-gallery.jpg" alt="image">
              </a>
            </div>
          </div>
          <div class="slider-nav">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-arrow-prev'></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-arrow-next'></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
