<section class="s-brief sect-m">
  <div class="g-wrap bg-ghost-2">
    <div class="container">
      <div class="s-brief__wrapper">
        <div class="s-brief__info">
          <h2 class="s-title s-brief__title">
            Опишите задачу — мы уточним ТЗ
            <br />
            и
            <span>предложим решение</span>
          </h2>
          <p class="text-b s-brief__content">
            Можно приложить чертёж, 3D, фото образца или спецификацию. Если
            данных пока мало — напишите, что есть: назначение изделия, материал,
            тираж, требования к поверхности/прочности.
          </p>
          <div class="s-brief__adv">
            <div class="s-brief__adv-item">
              <img src="@img/check-fill.svg" alt="image" class="item-icon" />
              <div class="item-text">
                Предложим лучшие
                <br />
                условия на рынке
              </div>
            </div>
            <div class="s-brief__adv-item">
              <img src="@img/two-play.svg" alt="image" class="item-icon" />
              <div class="item-text">
                Обеспечим полное сопровождение
                <br />
                от начала проекта до выхода в тираж
              </div>
            </div>
          </div>
        </div>
        <form action="#" class="s-brief__form">
          <div class="form-grid">
            <div class="form-control">
              <input
                type="text"
                placeholder="Ваше имя"
                id="brief-name"
                class="input"
              />
            </div>
            <div class="form-control">
              <input
                type="tel"
                placeholder="Телефон"
                id="brief-tel"
                class="input"
              />
            </div>
            <div class="form-control">
              <input
                type="email"
                placeholder="Эл. почта"
                id="brief-mail"
                class="input"
              />
            </div>
            <div class="form-control">
              <input type="file" id="brief-file" class="input-file" />
              <label for="brief-file" class="label-file">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-clip"></use>
                </svg>
                <div class="label-file-name">
                  Приложить файл
                  <span>(не обязательно)</span>
                </div>
              </label>
            </div>
            <div class="form-control _full">
              <textarea
                rows="5"
                placeholder="Ваше сообщение"
                class="input"
              ></textarea>
            </div>
          </div>
          <div class="form-nav">
            <button type="submit" class="btn-s">Оставить заявку</button>
            <div class="check-wrap">
              <input type="checkbox" id="brief-policy" />
              <label for="brief-policy">
                <span>
                  Я даю согласие ООО «СНСГРУПП» на обработку моих
                  <a href="#" target="_blank">персональных данных</a>
                  в целях обработки обращения, обратного звонка и предоставления
                  консультации в соответствии с
                  <a href="#" target="_blank">
                    Политикой обработки персональных данных
                  </a>
                  .
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
