<section class="s-catalog sect-m">
  <div class="g-wrap _top-off">
    <div class="container">
      <div class="sect-head">
        <h1 class="m-title s-catalog__title">Продукция</h1>
        <div class="content-box text-b s-catalog__head-content">
          <p>
            Проектируем и изготавливаем пресс-формы, которые удобно обслуживать и
            стабильно использовать в серийном производстве — с отладкой до
            результата «по ТЗ».
          </p>
        </div>
        <div class="row-nav swiper s-catalog__row-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="btn-m _active">Вся продукция</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="btn-m">Пресс-формы</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="btn-m">Пресс-формы</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="btn-m">Выдув на экструдере</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="btn-m">Формы для выдува</a>
            </div>
          </div>
        </div>
      </div>
      <div class="s-catalog__grid">
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product-2.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
        <a href="#" class="card-product">
          <img src="@img/product.jpg" alt="image" class="card-product__img" />
          <div class="card-product__body">
            <div class="card-product__title">Бутылка круглая</div>
            <div class="card-product__content">ПЭТ 150 мл</div>
          </div>
        </a>
      </div>
      <div class="btn-s s-catalog__btn-more _ghost">Смотреть еще</div>
    </div>
  </div>
</section>
