<section class="s-certificates sect-m">
  <div class="g-wrap bg-dark-03">
    <h2 class="s-title">Контроль качества</h2>
    <ul class="list text-b s-certificates__list">
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>
          Наше оборудование сертифицировано и регулярно проходит метрологическую
          поверку.
        </span>
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>Все специалисты имеют необходимые аттестации и допуски.</span>
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>
          Гарантируем высокое качество услуг благодаря строгому контролю на
          каждом этапе.
        </span>
      </li>
    </ul>
    <div class="s-certificates__grid">
      <a href="@img/certificate.jpg" data-fancybox="gallery-certificates" class="s-certificates__item">
        <img src="@img/certificate.jpg" alt="image" />
      </a>
      <a href="@img/certificate.jpg" data-fancybox="gallery-certificates" class="s-certificates__item">
        <img src="@img/certificate.jpg" alt="image" />
      </a>
      <a href="@img/certificate.jpg" data-fancybox="gallery-certificates" class="s-certificates__item">
        <img src="@img/certificate.jpg" alt="image" />
      </a>
      <a href="@img/certificate.jpg" data-fancybox="gallery-certificates" class="s-certificates__item">
        <img src="@img/certificate.jpg" alt="image" />
      </a>
      <a href="@img/certificate.jpg" data-fancybox="gallery-certificates" class="s-certificates__item">
        <img src="@img/certificate.jpg" alt="image" />
      </a>
    </div>
  </div>
</section>
