<section class="s-contacts sect-m">
  <div class="g-wrap _top-off s-contacts__wrap">
    <div class="container s-contacts__container">
      <h1 class="m-title s-contacts__title">Контакты</h1>
      <div class="s-contacts__wrapper">
        <div class="s-contacts__info">
          <div class="text-b content-box s-contacts__content">
            <p>
              Мы находимся в Москве, но принимаем заказы, производим и
              доставляем по всей стране — будем рады посотрудничать с вами вне
              зависимости от региона.
            </p>
          </div>
          <ul class="list text-b s-contacts__list">
            <li>
              <a href="tel:+74957002080">
                <div class="item-wrap">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-tel-arc"></use>
                  </svg>
                  <span>+7 (495) 700 20 80</span>
                </div>
              </a>
            </li>
            <li>
              <a href="mailto:help@website.ru">
                <div class="item-wrap">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-mail-fill"></use>
                  </svg>
                  <span>help@website.ru</span>
                </div>
              </a>
            </li>
            <li>
              <div class="item-wrap">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-location"></use>
                </svg>
                <span>Москва, улица Красногорская, дом 10 кор.1</span>
              </div>
            </li>
            <li>
              <div class="item-wrap">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-clock"></use>
                </svg>
                <span>
                  Пн-сб 10.00 – 20.00,
                  <span class="text-gray">Вс – воскресенье</span>
                </span>
              </div>
            </li>
          </ul>
          <div class="text-b s-contacts__text">
            ООО «СНСГРУПП»  ⋅ ИНН: 7700025050
          </div>
        </div>
        <div
          data-zoom="18"
          data-da=".s-contacts__map-wrap, 991"
          data-icon="@img/location-icon.png"
          data-center="[55.69238406905217,37.882763999999874]"
          class="map s-contacts__map"
        ></div>
      </div>
    </div>
  </div>
  <div class="s-contacts__map-wrap">
    <div class="container">

    </div>
  </div>
</section>
