<section class="s-connect sect-m">
  <div class="g-wrap bg-dark s-connect__wrap">
    <div class="s-connect__info">
      <h2 class="s-title s-connect__title">
        Нужна консультация или расчёт стоимости проекта?
      </h2>
      <p class="s-connect__descr">
        Опиши изделие, приложи фото/чертёж — уточним детали и подготовим КП
      </p>
      <form action="#" class="s-connect__form">
        <div class="form-wrap">
          <div class="form-control">
            <input
              type="text"
              placeholder="Ваше имя"
              class="input _transparent"
              id="connect-name"
            />
          </div>
          <div class="form-control">
            <input
              type="tel"
              placeholder="Телефон"
              class="input _transparent"
              id="connect-tel"
            />
          </div>
          <button type="submit" class="btn-s">Связаться с нами</button>
        </div>
        <div class="check-wrap _white">
          <input type="checkbox" id="connect-policy" />
          <label for="connect-policy">
            <span>
              Я даю согласие ООО «СНСГРУПП» на обработку моих
              <a href="#" target="_blank">персональных данных</a>
              в целях обработки обращения, обратного звонка и предоставления
              консультации в соответствии с
              <a href="#" target="_blank">
                Политикой обработки персональных данных
              </a>
              .
            </span>
          </label>
        </div>
      </form>
    </div>
    <img src="@img/connect-img.jpg" alt="image" class="s-connect__img" />
  </div>
</section>
