<section class="s-data sect-m">
  <div class="g-wrap">
    <div class="container">
      <div class="s-data__grid">
        <div class="s-data__item bg-dark _data">
          <h3 class="item-title">Какие данные нужны</h3>
          <div class="item-img-data">
            <picture class="item-img">
              <source srcset="@img/data-2-tablet.png" media="(max-width: 1365px)">
              <img src="@img/data-1.png" alt="image" />
            </picture>
          </div>
          <ul class="list item-list">
            <li>3D изделия (желательно) и/или комплект чертежей</li>
            <li>Материал и требования к поверхности (глянец/мат/текстура)</li>
            <li>Критичные размеры, зоны сборки, функциональные требования</li>
            <li>Требования к оснастке: ресурс/удобство обслуживания — по ТЗ</li>
          </ul>
        </div>
        <div class="s-data__item bg-primary _control">
          <div class="item-img-control">
            <picture class="item-img">
              <img src="@img/data-2.png" alt="image" />
            </picture>
          </div>
          <div class="item-info">
            <h3 class="item-title">Контроль качества</h3>
            <p class="item-text-control">
              <span>
                Контроль включает проверку геометрии ключевых элементов формы,
              </span>
              правильность сопряжений и выталкивания, а также приемку образцов
              изделий по согласованным критериям.
            </p>
          </div>
        </div>
        <div class="s-data__item bg-dark-03 _cert">
          <div class="item-img-cert">
            <picture class="item-img">
              <img src="@img/data-3.png" alt="image" />
            </picture>
          </div>
          <h3 class="item-title">Сертификаты</h3>
          <p class="item-text-cert">
            <span>Контроль включает проверку формы,</span>
            правильность сопряжений и выталкивания.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
