<section class="s-faq sect-m">
  <div class="g-wrap s-faq__wrap">
    <div class="container">
      <div class="s-faq__wrapper">
        <div class="s-faq__info">
          <h2 class="s-title s-faq__title">
            Ответы
            <br />
            на частые вопросы
          </h2>
          <p class="text-b s-faq__content">
            Ежегодно мы участвуем проектах вот некоторые из них
          </p>
          <a href="#modal-feedback" data-fancybox class="btn-s s-faq__btn">
            У меня другой вопрос
          </a>
        </div>
        <div data-spollers class="s-faq__spollers">
          <div data-spoller class="s-faq__spoller">
            <div class="s-faq__spoller-main">
              <div class="s-faq__spoller-btn">
                <span data-spoller-btn class="text-m">
                  Гарантируете ли вы, что прессформа не повредится в процессе?
                </span>
              </div>
              <div>
                <div data-spoller-body class="s-faq__spoller-body">
                  <div class="content-box">
                    <p>
                      3-5 тезисов. Например про экономические выгоды, сокращение
                      штата, уменьшение страховых выплат и прочее
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-btn class="rect"></div>
          </div>
          <div data-spoller class="s-faq__spoller">
            <div class="s-faq__spoller-main">
              <div class="s-faq__spoller-btn">
                <span data-spoller-btn class="text-m">
                  Нужно ли приезжать, чтобы передать материалы для изготовления?
                </span>
              </div>
              <div>
                <div data-spoller-body class="s-faq__spoller-body">
                  <div class="content-box">
                    <p>
                      3-5 тезисов. Например про экономические выгоды, сокращение
                      штата, уменьшение страховых выплат и прочее
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-btn class="rect"></div>
          </div>
          <div data-spoller class="s-faq__spoller">
            <div class="s-faq__spoller-main">
              <div class="s-faq__spoller-btn">
                <span data-spoller-btn class="text-m">
                  Сколько времени занимает изготовление прессформы?
                </span>
              </div>
              <div>
                <div data-spoller-body class="s-faq__spoller-body">
                  <div class="content-box">
                    <p>
                      3-5 тезисов. Например про экономические выгоды, сокращение
                      штата, уменьшение страховых выплат и прочее
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-btn class="rect"></div>
          </div>
          <div data-spoller class="s-faq__spoller">
            <div class="s-faq__spoller-main">
              <div class="s-faq__spoller-btn">
                <span data-spoller-btn class="text-m">
                  Останутся ли на прессформе запахи после производства?
                </span>
              </div>
              <div>
                <div data-spoller-body class="s-faq__spoller-body">
                  <div class="content-box">
                    <p>
                      3-5 тезисов. Например про экономические выгоды, сокращение
                      штата, уменьшение страховых выплат и прочее
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-btn class="rect"></div>
          </div>
        </div>
        <a href="#modal-feedback" data-fancybox class="btn-s s-faq__btn-mob">У меня другой вопрос</a>
      </div>
    </div>
  </div>
</section>
