<section class="s-hero">
  <div class="g-wrap s-hero__body">
    <picture class="s-hero__picture">
      <source srcset="@img/hero-mob.png" media="(max-width: 575px)">
      <source srcset="@img/hero-lap-min.png" media="(max-width: 991px)">
      <source srcset="@img/hero-lap.png" media="(max-width: 1365px)">
      <img src="@img/hero.png" alt="image">
    </picture>
    <div class="container">
      <div class="s-hero__info">
        <h1 class="b-title s-hero__title">
          Производство пресс-форм, литьё на ТПА и выдув
        </h1>
        <p class="s-hero__content">
          Полный цикл: от проектирования и изготовления пресс форм до серийного
          выпуска изделий. Помогаем пройти путь от ТЗ/чертежей/образца до
          стабильного процесса и повторяемого качества.
        </p>
        <div class="s-hero__buttons">
          <a href="#modal-feedback" data-fancybox class="btn-s">
            Связаться с нами
          </a>
          <a href="#" class="btn-s _outline-white">
            <span>Продукция</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
