<section class="s-intro sect-m">
  <div class="g-wrap _p-off">
    <div class="s-intro__wrapper">
      <div class="s-intro__body">
        <div class="s-intro__body-container">
          <div class="breadcrumbs _white">
            <div class="breadcrumbs-row">
              <a href="/" class="breadrumbs-btn">
                <span>Главная</span>
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
              <div class="breadrumbs-btn">
                <span>О компании</span>
              </div>
            </div>
          </div>
          <h1 class="m-title s-intro__title">
            СНСГРУПП — производственная команда полного цикла
          </h1>
          <div class="text-b content-box s-intro__content">
            <p>
              Проектируем и изготавливаем пресс-формы, которые удобно обслуживать
              и стабильно использовать в серийном производстве — с отладкой до
              результата «по ТЗ».
            </p>
          </div>
        </div>
      </div>
      <div class="s-intro__gallery">
        <img src="@img/intro.jpg" alt="image" />
      </div>
    </div>
  </div>
</section>
