<section class="s-preview sect-m">
  <div class="g-wrap s-preview__wrap">
    <div class="container">
      <div class="s-preview__wrapper">
        <div class="s-preview__content-grid">
          <div class="text-b content-box s-preview__content">
            <p>
              СНСГРУПП — производственная команда полного цикла: проектирование и
              изготовление пресс-форм, литьё пластмасс на ТПА и
              экструзионно-выдувное формование. Мы берём задачу «под ключ»: от
              ТЗ/чертежей/образца до стабильной серии и повторяемого качества.
            </p>
            <p>
              Мы ценим точность, сроки и прозрачность. Перед запуском в серию
              проводим отработку технологии, подбираем материал.
            </p>
          </div>
          <div class="text-b content-box s-preview__sub-content">
            <p>
              СНСГРУПП — производственная команда полного цикла: проектирование и
              изготовление пресс-форм, литьё пластмасс на ТПА и
              экструзионно-выдувное формование. Мы берём задачу «под ключ».
            </p>
          </div>
        </div>
        <div class="s-preview__slider-nav">
          <div class="slider-pagination-l"></div>
          <div class="slider-nav">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper s-preview__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
            <a
              href="@img/about-gallery.jpg"
              data-fancybox="gallery-preview"
              class="swiper-slide s-preview__slide"
            >
              <img src="@img/about-gallery.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
