<section class="s-product sect-m">
  <div class="g-wrap s-product__wrap">
    <div class="container">
      <div class="s-product__wrapper">
        <div class="s-product__info">
          <h1 class="m-title s-product__title">Бутылка круглая</h1>
          <div class="content-box text-b s-product__content">
            <p>
              Проектируем и изготавливаем пресс-формы, которые удобно
              обслуживать и стабильно использовать в серийном производстве — с
              отладкой до результата «по ТЗ».
            </p>
          </div>
          <ul class="text-m list s-product__list" data-da=".s-product__spec-container, 768">
            <li>
              <span class="item-name">Срок проектирования</span>
              <span class="item-val">21 день</span>
            </li>
            <li>
              <span class="item-name">Объем партии</span>
              <span class="item-val">30 000 единиц</span>
            </li>
            <li>
              <span class="item-name">Срок изготовления формы</span>
              <span class="item-val">2 дня</span>
            </li>
            <li>
              <span class="item-name">Срок производства</span>
              <span class="item-val">10 дней</span>
            </li>
            <li>
              <span class="item-name">Материал</span>
              <span class="item-val">Полипропилен</span>
            </li>
            <li>
              <span class="item-name">Размеры</span>
              <span class="item-val">3 × 3 × 25 см</span>
            </li>
            <li>
              <span class="item-name">Стоимость проекта</span>
              <span class="item-val">250 000 ₽</span>
            </li>
          </ul>
          <div class="s-product__buttons" data-da=".s-product__info, 768, 4">
            <a href="#modal-feedback" data-fancybox class="btn-s">
              Заказать производство
            </a>
            <a href="@img/adv-icon.svg" download data-da=".s-product__spec-container, 575" class="btn-s _outline s-product__btn-download">
              <svg class="icon">
                <use xlink:href="img/icons/icons.svg#icon-doc"></use>
              </svg>
              <span>Документация продукта</span>
            </a>
          </div>
          <div class="s-product__adv">
            <div class="s-product__adv-item">
              <img src="@img/product-adv.svg" alt="icon" class="item-icon" />
              <div class="text-m item-text">
                Производство пресс-форм на современном оборудовании
              </div>
            </div>
            <div class="s-product__adv-item">
              <img src="@img/product-adv.svg" alt="icon" class="item-icon" />
              <div class="text-m item-text">
                Всегда короткие
                <br />
                сроки производства
              </div>
            </div>
          </div>
        </div>
        <div class="s-product__gallery">
          <div class="swiper s-product__slider">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
            <div class="swiper-wrapper">
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
              <a
                href="@img/product-main.jpg"
                data-fancybox="product-gallery"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.jpg" alt="image" />
              </a>
            </div>
          </div>
          <div class="s-product__thumb-wrap">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
            <div class="swiper s-product__thumb-slider">
              <div class="swiper-wrapper">
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
                <div
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  class="swiper-slide s-product__thumb-slide"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-wrap bg-ghost-2 s-product__spec-wrap">
    <div class="container s-product__spec-container">
      <h2 class="s-title">Характеристики</h2>
    </div>
  </div>
</section>
