<section class="s-products sect-m">
  <div class="g-wrap tabs s-products__wrap">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Примеры продукции</h2>
        <div class="s-products__nav">
          <div class="swiper tabs-nav s-products__slider-nav">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div data-tab-btn="tab-products-0" class="btn-m _active">
                  Пресс-формы
                </div>
              </div>
              <div class="swiper-slide">
                <div data-tab-btn="tab-products-1" class="btn-m">
                  Литьё на ТПА
                </div>
              </div>
              <div class="swiper-slide">
                <div data-tab-btn="tab-products-2" class="btn-m">
                  Выдув на экструдере
                </div>
              </div>
              <div class="swiper-slide">
                <div data-tab-btn="tab-products-3" class="btn-m">
                  Формы для выдува
                </div>
              </div>
            </div>
          </div>
          <div class="s-products__toggle">
            <a href="#" class="btn-m">Вся продукция</a>
            <div class="tabs-content">
              <div data-tab="tab-products-0" class="_active _show">
                <div class="slider-nav">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-prev"
                      ></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-next"
                      ></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div data-tab="tab-products-1">
                <div class="slider-nav">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-prev"
                      ></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-next"
                      ></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div data-tab="tab-products-2">
                <div class="slider-nav">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-prev"
                      ></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-next"
                      ></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div data-tab="tab-products-3">
                <div class="slider-nav">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-prev"
                      ></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use
                        xlink:href="img/icons/icons.svg#icon-arrow-next"
                      ></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-content">
        <div data-tab="tab-products-0" class="_active _show">
          <div class="swiper s-products__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div data-tab="tab-products-1">
          <div class="swiper s-products__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div data-tab="tab-products-2">
          <div class="swiper s-products__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div data-tab="tab-products-3">
          <div class="swiper s-products__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="card-product">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="card-product__img"
                  />
                  <div class="card-product__body">
                    <div class="card-product__title">Бутылка круглая</div>
                    <div class="card-product__content">ПЭТ 150 мл</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="btn-s s-products__btn-all">Вся продукция</a>
    </div>
  </div>
</section>
