<section class="s-reviews sect-m">
  <div class="g-wrap bg-dark-03">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Отзывы клиентов</h2>
        <div class="s-reviews__head-row">
          <p class="text-b s-reviews__content">
            Производственная команда полного цикла: проектирование и
            изготовление
          </p>
          <div class="s-reviews__toggle">
            <div class="s-reviews__service">
              <img src="@img/logo-ya.svg" alt="logo" class="service-logo" />
              <div class="service-separator"></div>
              <div class="service-rating">
                <div class="service-rating-num">5,0</div>
                <div class="service-stars">
                  <img src="@img/star.svg" alt="icon" />
                  <img src="@img/star.svg" alt="icon" />
                  <img src="@img/star.svg" alt="icon" />
                  <img src="@img/star.svg" alt="icon" />
                  <img src="@img/star.svg" alt="icon" />
                </div>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-arrow _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
                </svg>
              </div>
              <div class="slider-arrow _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper s-reviews__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-review">
              <div class="card-review__profile">
                <img src="@img/avatar.jpg" alt="image" class="profile-avatar" />
                <div>
                  <div class="profile-name text-l">Анастасия М.</div>
                  <div class="profile-text">Москва</div>
                </div>
              </div>
              <p class="card-review__profile-descr">
                И нет сомнений, что акционеры крупнейших компаний будут преданы
                социально-демократической анафеме. Безусловно, экономическая
                повестка.
              </p>
              <div class="card-review__bottom">
                <div class="card-review__date">4 января 2026</div>
                <div class="card-review__rating">
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                  <img src="@img/star.svg" alt="star" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#modal-feedback" data-fancybox class="btn-s s-reviews__btn-consult">Получить консультацию</a>
      <div class="btn-s s-reviews__btn-more">Показать еще</div>
    </div>
  </div>
</section>
