<section class="s-services sect-m">
  <div class="g-wrap bg-dark-03 s-services__body">
    <div class="container">
      <div class="s-services__grid">
        <a href="#" class="s-services__item">
          <img src="@img/service-img.png" alt="image" class="item-img" />
          <div class="item-body">
            <div class="item-title l-title">Пресс-формы</div>
            <div class="item-content">
              Проектирование и изготовление оснастки под литьё и выдув
            </div>
          </div>
        </a>
        <a href="#" class="s-services__item">
          <img src="@img/service-img.png" alt="image" class="item-img" />
          <div class="item-body">
            <div class="item-title l-title">Литьё на ТПА</div>
            <div class="item-content">
              Серийное литьё пластмасс: режимы, качество, упаковка
            </div>
          </div>
        </a>
        <a href="#" class="s-services__item">
          <img src="@img/service-img.png" alt="image" class="item-img" />
          <div class="item-body">
            <div class="item-title l-title">Формы для выдува</div>
            <div class="item-content">
              Оснастка для экструзионного выдува: ресурс, стабильность
            </div>
          </div>
        </a>
        <a href="#" class="s-services__item">
          <img src="@img/service-img.png" alt="image" class="item-img" />
          <div class="item-body">
            <div class="item-title l-title">Выдув на экструдере</div>
            <div class="item-content">
              Экструзионно выдувное формование изделий и тары
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
