<section class="s-steps sect-m">
  <div class="g-wrap">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Рабочий процесс</h2>
      </div>
      <div class="s-steps__grid">
        <article class="s-steps__item" style="background-color: #f6f7f8">
          <div class="item-num">01.</div>
          <img src="@img/steps-1.jpg" alt="image" class="item-img" />
          <div class="item-info">
            <h3 class="item-title">
              Консультация
              <br />
              и ТЗ
            </h3>
            <p class="item-content">
              Уточняем материал, тираж, сроки. Оцениваем технологию
            </p>
          </div>
        </article>
        <article class="s-steps__item" style="background-color: #eef0f2">
          <div class="item-num">02.</div>
          <img src="@img/steps-2.jpg" alt="image" class="item-img" />
          <div class="item-info">
            <h3 class="item-title">Консультация и ТЗ</h3>
            <p class="item-content">
              Уточняем материал, тираж, сроки. Оцениваем технологию
            </p>
          </div>
        </article>
        <article class="s-steps__item" style="background-color: #e5e8eb">
          <div class="item-num">03.</div>
          <img src="@img/steps-3.jpg" alt="image" class="item-img" />
          <div class="item-info">
            <h3 class="item-title">Изготовление пресс-формы</h3>
            <p class="item-content">Обработка, сборка, доводка, испытания</p>
          </div>
        </article>
        <article class="s-steps__item" style="background-color: #dadee2">
          <div class="item-num">04.</div>
          <img src="@img/steps-4.jpg" alt="image" class="item-img" />
          <div class="item-info">
            <h3 class="item-title">Пробные отливки/выдув</h3>
            <p class="item-content">
              Настройка режимов и контроль качества, корректировки
            </p>
          </div>
        </article>
        <article class="s-steps__item" style="background-color: #cbd1d7">
          <div class="item-num">05.</div>
          <img src="@img/steps-5.jpg" alt="image" class="item-img" />
          <div class="item-info">
            <h3 class="item-title">Серийное производство</h3>
            <p class="item-content">
              Запуск серии, упаковка, отгрузка, сопровождение
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
