<section class="s-static sect-m">
  <div class="g-wrap">
    <div class="container">
      <div class="sect-head">
        <h1 class="s-title">Политика конфиденциальности</h1>
      </div>
      <div class="content-box">
        <div class="content col">
          <h2>
            <strong>
              Обратите внимание на порядок использования образца Политики
              конфиденциальности перед размещением на своем сайте!
            </strong>
          </h2>
          <p>
            <strong>Образец Политики конфиденциальности</strong>
            может быть свободно использован полностью или в любой его части, в
            том числе переработан
            <strong>
              при условии размещения непосредственно под его текстом подписи с
              указанием источника заимствования и активной гипертекстовой ссылки
              на сайт www.it-lex.ru следующего вида
            </strong>
            :
            <em>
              Шаблон Политики конфиденциальности разработала &lt;a
              href="http://it-lex.ru" target="_blank" title="Составить политику
              конфиденциальности для сайта"&gt;
              <a href="/">Юридическая компания АйТи-Лекс</a>
            </em>
          </p>
          <p><em></em></p>
          <div class="info">
            <em>
              Образец Политики конфиденциальности разработан для лендингов и
              сайтов
            </em>
            с простой формой обратной связи. Политика также может подойти сайтам
            с формой подписки на новостные рассылки. Для
            <em>интернет-магазина</em>
            или
            <em>доски объявлений</em>
            с сложными формами регистрации рекомендуем использовать полную
            версию
            <em>Политики конфиденциальности</em>
            , которая регулирует вопросы обработки пользовательских персональных
            данных.
          </div>
          <p></p>
          <p>
            Настоящий документ «Политика конфиденциальности» (далее по тексту –
            «Политика») представляет собой правила использования /указать
            владельца сайта/ (далее – «мы» и/или «Администрация») данных
            интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых
            с использованием сайта / указать URL сайта/ (далее – «Сайт»).
          </p>
          <h2>1. Обрабатываемые данные</h2>
          <p>
            1.1. Мы не осуществляем сбор ваших
            <a
              href="/usloviya_ispolzovaniya_servisa/obrazec-politiki-konfidencialnosti-2017"
            >
              персональных данных
            </a>
            с использованием Сайта.
          </p>
          <p>
            1.2. Все данные, собираемые на Сайте, предоставляются и принимаются
            в обезличенной форме (далее – «Обезличенные данные»).
          </p>
          <p>
            1.3. Обезличенные данные включают следующие сведения, которые не
            позволяют вас идентифицировать:
          </p>
          <p>
            1.3.1. Информацию, которую вы предоставляете о себе самостоятельно с
            использованием онлайн-форм и программных модулей Сайта, включающие
            номер телефона и/или адрес электронной почты.
          </p>
          <p>
            1.3.2. Данные, которые передаются в обезличенном виде в
            автоматическом режиме в зависимости от настроек используемого вами
            программного обеспечения.
          </p>
          <p>
            1.4. Администрация вправе устанавливать требования к составу
            Обезличенных данных Пользователя, которые собираются использованием
            Сайта.
          </p>
          <p>
            1.5. Если определенная информация не помечена как обязательная, ее
            предоставление или раскрытие осуществляется Пользователем на свое
            усмотрение. Одновременно вы даете информированное согласие на доступ
            неограниченного круга лиц к таким данным. Указанные данные
            становится общедоступными с момента предоставления и/или раскрытия в
            иной форме.
          </p>
          <p>
            1.6. Администрация не осуществляет проверку достоверности
            предоставляемых данных и наличия у Пользователя необходимого
            согласия на их обработку в соответствии с настоящей Политикой,
            полагая, что Пользователь действует добросовестно, осмотрительно и
            прилагает все необходимые усилия к поддержанию такой информации в
            актуальном состоянии и получению всех необходимых согласий на ее
            использование.
          </p>
          <p>
            1.7. Вы осознаете и принимаете возможность использования на Сайте
            программного обеспечения третьих лиц, в результате чего такие лица
            могут получать и передавать указанные в п.1.3 данные в обезличенном
            виде.
          </p>
          <p></p>
          <div class="info">
            <strong>Пример!</strong>
            К указанному программному обеспечению третьих лиц относятся системы
            сбора статистики посещений Google Analytics и Яндекс.Метрика.
          </div>
          <p></p>
          <p>
            1.8. Состав и условия сбора обезличенных данных с использованием
            программного обеспечения третьих лиц определяются непосредственно их
            правообладателями и могут включать:
          </p>
          <ul>
            <li>данные браузера (тип, версия, cookie);</li>
            <li>данные устройства и место его положения;</li>
            <li>
              данные операционной системы (тип, версия, разрешение экрана);
            </li>
            <li>данные запроса (время, источник перехода, IP-адрес).</li>
          </ul>
          <p>
            1.9. Администрация не несет ответственность за порядок использования
            Обезличенных данных Пользователя третьими лицами.
          </p>
          <div class="unit">
            <div class="holder">Готовое решение для вашего бизнеса</div>
            <div class="title">
              <a href="/store/online-services">Пакет документов для сайта</a>
            </div>
            <div class="descr">
              Документы для популярных моделей интернет-сервисов. Гарантия
              ограничения ответственности и налоговой чистоты.
            </div>
            <div class="request">
              <a href="/store/online-services">Ознакомиться с решением</a>
            </div>
          </div>
          <h2>2. Цели обработки данных</h2>
          <p>2.1. Администрация использует данные в следующих целях:</p>
          <p>2.1.1. Обработка поступающих запросов и связи с Пользователем;</p>
          <p>
            2.1.2. Информационное обслуживание, включая рассылку
            рекламно-информационных материалов;
          </p>
          <p>
            2.1.3. Проведение маркетинговых, статистических и иных исследований;
          </p>
          <p>2.1.4. Таргетирование рекламных материалов на Сайте.</p>
          <h2>3. Требования к защите данных</h2>
          <p>
            3.1. Администрация осуществляет хранение данных и обеспечивает их
            охрану от несанкционированного доступа и распространения в
            соответствии с внутренними правилами и регламентами.
          </p>
          <p>
            3.2. В отношении полученных данных сохраняется
            <a
              href="/usloviya_ispolzovaniya_servisa/obrazec-politiki-konfidencialnosti-2017"
            >
              конфиденциальность
            </a>
            , за исключением случаев, когда они сделаны Пользователем
            общедоступными, а также когда используемые на Сайте технологии и
            программное обеспечение третьих лиц либо настройки используемого
            Пользователем программного обеспечения предусматривают открытый
            обмен с данными лицами и/или иными участниками и пользователями сети
            Интернет.
          </p>
          <p>
            3.3. В целях повышения качества работы Администрация вправе хранить
            лог-файлы о действиях, совершенных Пользователем в рамках
            использования Сайта в течение 1 (Одного) года.
          </p>
          <h2>4. Передача данных</h2>
          <p>
            4.1. Администрация вправе передать данные третьим лицам в следующих
            случаях:
          </p>
          <ul>
            <li>
              Пользователь выразил свое согласие на такие действия, включая
              случаи применения Пользователем настроек используемого
              программного обеспечения, не ограничивающих предоставление
              определенной информации;
            </li>
            <li>
              Передача необходима в рамках использования Пользователем
              функциональных возможностей Сайта;
            </li>
            <li>
              Передача требуется в соответствии с целями обработки данных;
            </li>
            <li>
              В связи с передачей Сайта во владение, пользование или
              собственность такого третьего лица;
            </li>
            <li>
              По запросу суда или иного уполномоченного государственного органа
              в рамках установленной законодательством процедуры;
            </li>
            <li>
              Для защиты прав и законных интересов Администрации в связи с
              допущенными Пользователем нарушениями.
            </li>
          </ul>
          <h2>5. Изменение Политики конфиденциальности</h2>
          <p>
            5.1. Настоящая Политика может быть изменена или прекращена
            Администрацией в одностороннем порядке без предварительного
            уведомления Пользователя. Новая редакция Политики вступает в силу с
            момента ее размещения на Сайте, если иное не предусмотрено новой
            редакцией Политики.
          </p>
          <p>
            Политику разработала
            <a href="/">Юридическая компания АйТи-Лекс</a>
          </p>
          <p></p>
          <div class="info">
            <strong>Обратите внимание!</strong>
            Образец Политики конфиденциальности не подходит для сайтов с формой
            регистрации и/или обратной связи, предусматривающими предоставление
            помимо номера телефона и/или электронного адреса иной персональной
            информации о пользователе. Поэтому не рекомендуем данный шаблон
            политики конфиденциальности для интернет-магазина, доски объявлений,
            торговой площадки и иных сайтов, обрабатывающих персональные данные
            пользователей.
            <br />
            В случае обработки персональных данных, Политика конфиденциальности
            должна быть дополнена обязательными условиями о составе, основаниях,
            способах и целях обработки персональных данных, и получении согласия
            субъекта персональных данных с установленными в Политике правилами.
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
