<section class="s-stages-work sect-m">
  <div class="g-wrap bg-dark-03">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Этапы работы</h2>
      </div>
      <div class="s-stages-work__grid">
        <div class="s-stages-work__item">
          <div class="item-num">01</div>
          <div class="item-text"><span>Входной анализ</span> изделия и требований: материал, поверхность, допуски, тираж</div>
        </div>
        <div class="s-stages-work__item">
          <div class="item-num">02</div>
          <div class="item-text"><span>Проектирование</span> или проверка проекта, согласование ключевых решений</div>
        </div>
        <div class="s-stages-work__item">
          <div class="item-num">03</div>
          <div class="item-text"><span>Изготовление</span> деталей, сборка, контрольные операции и другое</div>
        </div>
        <div class="s-stages-work__item">
          <div class="item-num">04</div>
          <div class="item-text"><span>Пуско-наладка</span> и отработка: получение образцов, корректировки</div>
        </div>
        <div class="s-stages-work__item">
          <div class="item-num">05</div>
          <div class="item-text"><span>Передача</span> в работу, документация, рекомендации по эксплуатации</div>
        </div>
      </div>
    </div>
  </div>
</section>