<section class="s-stages sect-m">
  <div class="g-wrap s-stages__wrap">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">Этапы развития</h2>
        <p class="text-b s-stages__content">
          Уже на протяжении десяти лет наша компания активно развивается,
          собирает опытных специалистов в единую команду и применяет современные
          решения и технологии
        </p>
      </div>
      <div class="s-stages__grid">
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2015</div>
            <div class="item-text">
              Звонок или заявка на сайте с описанием предстоящих работ
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2017</div>
            <div class="item-text">
              Бесплатно за 1 день получаем исходные данные, а именно координаты
              границ
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2018</div>
            <div class="item-text">
              Выезд специалиста и проведение полевых работ на месте
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2020</div>
            <div class="item-text">
              Брусок или арматура на углах Вашего участка, повязанные сигнальной
              лентой
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2021</div>
            <div class="item-text">
              Звонок или заявка на сайте с описанием предстоящих работ
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2022</div>
            <div class="item-text">
              Бесплатно за 1 день получаем исходные данные, а именно координаты
              границ
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2023</div>
            <div class="item-text">
              Выезд специалиста и проведение  полевых работ на месте
            </div>
          </div>
        </div>
        <div class="s-stages__item">
          <div class="item-decor">
            <div class="line-l"></div>
            <div class="rect"></div>
            <div class="line-r"></div>
          </div>
          <div class="item-body">
            <div class="item-year">2024</div>
            <div class="item-text">
              Брусок или арматура на углах Вашего участка, повязанные сигнальной
              лентой
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
